
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/css/PageError.css">
</head>
<body>
    <div class="mars"></div>
    <div class="logo-404">
        <p>OOPS!</p>
    </div>
    <img src="https://assets.codepen.io/1538474/meteor.svg" class="meteor" />

    <p class="title"> @ViewBag.ErrorMsg</p>
    <p class="subtitle">
        You’re either misspelling the URL <br /> or You've wandered off course. Let's get you back on track..
    </p>
    <div class="Backtoprev">
        <button class="btn-back error-login" href="#">Back to Home</button>
        <button class="btn-back " href="#">Back to Dashboard</button>
    </div>
    <img src="https://assets.codepen.io/1538474/astronaut.svg" class="astronaut" />
    <img src="https://assets.codepen.io/1538474/spaceship.svg" class="spaceship" />
</body>
</html>

