
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
/* Main Content Styling */
.ebookHead {
    font-size: clamp(25px, 4vw, 35px);
    margin: 10px 0px;
    padding: 0;
    color: #1d2025;
    color:var(--text-color);
}

.ebook-container {
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    gap: max(20px,5vw);
    padding: 10px;
}



    .ebook-container .ebookImgCont {
        flex: 1 1 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: clamp(300px,40vw,450px);
        position: relative;
        overflow: hidden;
        max-width: 500px;
        max-height:430px;
        margin: auto;
    }

.ImgBack {
    position: absolute;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    border-radius: 68% 32% 66% 34% / 54% 57% 43% 46%;
    height: 100%;
    width: 100%;    
}

.ebook-container .ebookImgCont img {
    height: 95%;
    object-fit: contain;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.17) -3px 3px 4px;
}

.ebook-details {
    flex: 1 1 300px;
    padding: 20px;
}

/* Media query for smaller screens
  @media screen and (max-width: 768px) {
    .ebook-container .ebookImgCont {
      width: clamp(200px, 50%, 400px); 
      height: clamp(250px, 50%, 500px); 
    }
  }
   */

.EbookName {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 10px;
    transition: color 0.3s ease-in-out;
}

    .EbookName h2 {
        margin: 0;
        font-size: clamp(35px,1vw,45px);
        font-weight: 700;
        color: var(--text-color);
        line-height: 1.2;
    }

.EbookauthName {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    margin-bottom: 10px;
    color: #007bff;
}

    .EbookauthName p {
        color: var(--btn);
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-weight: 650;
        line-height: 1.5;
        margin-bottom: 15px;
    }

.Ebookdesc {
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
    font-size: clamp(16px, 1.8vw, 18px);
    font-weight: 350;
    line-height: 1.5;
    opacity: 0.8;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
}

.pricing {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    gap: 15px;
    color: var(--green);
}

    .pricing span {
        display:flex;
        align-items:center;
        gap:10px;
        font-family: "Poppins", sans-serif;
        flex: 1;
        font-size: 18px;
        font-weight: 600;
    }

.EbookButtons {
    flex: 2;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.Ebtn {
    white-space:nowrap;
    padding:5px 15px;
    width: 100%;
    max-width: 160px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.Ecancelbtn {
    border: 2px solid var(--btn);
    color: var(--btn);
}

.Ereadbtn {
    background-color: var(--btn);
    color: white;
    text-decoration:none;
}

.Ebtn:hover {
    opacity: 0.8;
    transform: translateY(-2px);
    transform: scale(1.04);
}

.ebookList {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    transition: justify-content 0.5s ease;
    position: relative;
}

.ebook-card {
    position: relative;
    overflow: hidden;
    flex: 1 1 220px;
    max-width: 240px;
    height: 350px;
    background-color: var(--cardclr);
    border-radius: 10px;
    font-family: "Open Sans", sans-serif;
    box-shadow: var(--box-shadow);
    margin: 10px;
    padding-top: 10px;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.07s ease-in-out;
}

    .ebook-card:hover {
        transform: scale(1.01);
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    }

.ebook-image {
    position: relative;
    width: 140px;
    height: 63%;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.4);
}

    .ebook-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.ebook-info {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: start;
    flex-flow: column nowrap;
}

.ebook-title {
    color: var(--text-color);
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ebook-author {
    color: var(--text-color);
    width: 100%;
    font-size: 14px;
    opacity: 0.85;
    margin-bottom: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ebook-button {
    align-self: center;
    background-color: var(--btn);
    color: #fff;
    padding: 0px 20px;
    height: 36px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-wrap: nowrap;
}

    .ebook-button:hover {
        background-color: #0069d9;
        transform: translateY(-1.5px);
    }
